.git
.github
.idea
.vscode
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
public/storage
public/themes/*/build
*.log
.env
.env.*
!.env.example
!.env.docker
docker-compose.sail.yml.bak
tests
UPDATE_SUMMARY.md
